TAVILY_API_KEY=Your_Tavily_API_Key_Here
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=Your_LangSmith_API_Key_Here
LANGSMITH_PROJECT=Your_LangSmith_Project_Name_Here
COHERE_API_KEY=YOUR_COHERE_API_KEY_HERE